{% comment %}
  Renders Creative Zoo animal identity links for the Instincts navigation group.

  Usage:
  {% render 'cz-instinct-identity-links', class: 'optional-class-name' %}
{% endcomment %}

<ul class="{{ class }} cz-instinct-identity-links" role="list">
  <li><a href="/pages/apparel" class="link">Panda</a></li>
  <li><a href="/pages/apparel" class="link">Lion</a></li>
  <li><a href="/pages/apparel" class="link">Wolf</a></li>
  <li><a href="/pages/apparel" class="link">Rabbit</a></li>
  <li><a href="/pages/apparel" class="link">Goat</a></li>
  <li><a href="/pages/apparel" class="link">Capybara</a></li>
</ul>
